/**
 * All stylesheet for this project.
 */

.main {
}

.message {
    margin-top: 5em;
}

/**
 * layout styling
 */
.row.filter {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
}

/**
 * common styling
 */
.table .num {
    text-align: right;
}

.pagination {
    float: right;
}

/**
 * region view styles
 */
.region-view .panel-summary .panel-body li.field {
    padding: 0px 10px; 
    line-height: 32px;
}

.region-view .panel-summary .panel-body li.field span.title {
    display: inline-block;
    width: 20%;
}

.region-view .panel-summary .panel-body li.field span.label-primary {
    display: inline-block;
    width: 15%;
    text-align:right;
}

.region-view .panel-summary .panel-body li.field span.label-default {
    display: inline-block;
    width: 30%;
    text-align:left;
}

.region-view .panel-summary .panel-body li.field span.badge {
    margin-top: 8px;
}